/* CSS */
@font-face {
	font-family: logo;
	src: url(assets/fonts/logo.ttf);
}

@font-face {
	font-family: w3school;
	src: url(assets/fonts/w3school.ttf);
}

 * {
	 box-sizing: border-box;
	 
 }

body,html {
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
	font-size: 18px;
	font-family: 'courier new';
	overflow-x: hidden;
	scroll-padding-top: 110px;
}

#aside-left::-webkit-scrollbar, #aside-right::-webkit-scrollbar  {
	width: 10px;
	
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
	width: 20px;
}

#aside-left::-webkit-scrollbar-track, #aside-right::-webkit-scrollbar-track, html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
	background-image: linear-gradient(to bottom, #5680e9, #84ceeb, #5ab9ea, #c1c8e4, #8860d0);
	/* border-radius: 10px / 5px; */
	
}

#aside-left::-webkit-scrollbar-thumb, #aside-right::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to bottom, #686664, #c1c8e4, #ec7e74);
	border-radius: 5px / 10px;
}

#aside-left::-webkit-scrollbar-thumb:hover, #aside-right::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover, html::-webkit-scrollbar-thumb:hover {
	background-image: linear-gradient(to bottom, #686664, transparent, #ec7e74);
}

html::-webkit-scrollbar-button:single-button, body::-webkit-scrollbar-button:single-button {
  background-color: #c1c8e4;
  display: block;
  border-style: solid;
  height: 20px;
  width: 20px;
}
/* Up */
html::-webkit-scrollbar-button:single-button:vertical:decrement,body::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #000 transparent;
}

html::-webkit-scrollbar-button:single-button:vertical:decrement:hover, body::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
html::-webkit-scrollbar-button:single-button:vertical:increment,body::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 10px 10px 0 10px;
  border-color: #000 transparent transparent transparent;
}

html::-webkit-scrollbar-button:vertical:single-button:increment:hover, body::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}

#dark-font-social {
	height: 50px;
	background-color: #8860d0;
	line-height: 50px;
	padding: 0px 20px;
    /* text-align: center; */
	/* overflow: hidden; */
	margin: 0px 0 4px 0;
}



#dark-font-social > div{
	padding: 0;
	margin: 0;
	line-height: 50px;
	display: flex;
	justify-content: space-between;
}

#dark-font-social  div > div {
	display: inline-block;
	padding: 0;
	margin: 0;
	line-height: 50px;
	
}

#dark-font-social .prev, #dark-font-social .next {
	padding: 10px 15px;
    display: none;
	/* float: left; */
	position: absolute;
	top: 0;
	color: #000;
	cursor: pointer;
	line-height: 30px;
}

.prev:hover, .next:hover {
	background-color: #555;
	color: #fff !important;	
	transition: ease 1s;
}

#dark-font-social .next {
	right: 0;
	/* float: right; */
}

#dark-font-social .prev {
	left: 0;
	display: none;
}

#dark-font-social #menu-dfs {
	display: none;
	padding: 1px 0;
	font-size: 25px;
	width: 30px;
	height: 30px;
	font-weight: ;
	position: absolute;
	top: 12px;
	left: 10px;
	border-radius: 6px;
	cursor: pointer;
}

#dark-font-social button:not(#dark) {
	padding: 2px 5px;
	font-family: alice,serif !important; 
	width: 30px;
	height: 30px;
	border-radius: 6px;
	text-align: center;
	line-height: 25px;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	cursor: pointer;
	/* float: left; */
	/* margin: 10px 2.6px; */


}

#dark-font-social button:active {
	border: 1px solid #4D90FE;
	box-shadow: 0 0 17px #4D90FE;
	outline-color: #4D90FE;
	
}

#dark-mode {
	/* padding: 9px 5px !important; */
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 6px;
	border: 1px solid #fff;
	margin-bottom: -10px;
	cursor: pointer;
	/* margin: 5px 20px; */
	/* float: left; */
	z-index: 1;
}

#dark {
    background-color: white;	
	border-radius: 6px;
    width: 26px !important;
	height: 22.5px !important;
	outline: none;
	border: none;
	box-shadow: 0 5px #000;
	position: absolute;
	top: -10px;
	left: 1px;
	transition: 0.4s ease;
	cursor: pointer;
	/* float: left; */
	margin: 10px 0px;
	z-index: 1;
}

#dark:active {
	box-shadow: 0 6px #777 !important;
	transform: translateY(2px);
	border: none !important;
}

.contacts {
	color: #000;
	text-decoration: none;
	/* margin: 10px; */
	/* float: left; */
	display: inline-block;
}

.sp-image {
	/* float: right; */
	margin-bottom: -10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url('assets/images/image-sprite-social-media.png');
	background-repeat: no-repeat;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 6px;
	text-decoration: none;
}

#sp-facebook {
	background-position: 0px -77px;
	background-size: 225px 150px;
	transition: 0.3s;
}

#sp-facebook:hover {
	background-position: 0px -42px;
}

#sp-instagram {
	background-position: -101px -79px;
	background-size: 230px 150px;
	transition: 0.3s;
}

#sp-instagram:hover {
	background-position: -101px -42px;
}

#sp-twitter {
	background-position: -36px -77px;
	background-size: 230px 150px;
	transition: 0.3s;
}

#sp-twitter:hover {
	background-position: -36px -42px;
}

#sp-youtube {
	background-position: -87px -78px;
    background-size: 280px 150px;
	transition: 0.3s;
}

#sp-youtube:hover {
	background-position: -87px -42px;
}

#dark-font-social .close {
	text-decoration: none;
	float: right;
	font-size: 30px;
	font-weight: 900;
	color: #fff;
	margin-left: 25px;
	margin-right: -10px;
	cursor: pointer;
}

#dark-font-social .close:hover {
	font-weight: 550;
	color: #cacaca;
}

#dark-font-social::after {
	content: "";
	display: table;
	clear: both;
}


#logo-nav {
	width: auto;
	height: 80px;
	padding: 0 20px;
	margin: 0px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.7), 0 0px 15px 0 rgba(0,0,0,0.7);
	z-index: 10;
	position: sticky;
	top: 0px;
	transition: all 0.6s;
	clear: both;
	
}

#logo-nav #logo {
	display: inline-block;
	float: left;
	width: 70px;
	height: 70px;
	transition: all 0.6s;
	margin: 5px 0;
}

#logo-nav .sitename {
	font-size: 40px;
	margin: 0;
	float: left;
	font-family: logo;
	color: #1eb594;
	line-height: 80px;
	transition: all 0.6s;
	
}



#logo-nav #nav {
	margin: 0;
	padding: 0;
	float: right;
	width: auto;
	height: 80px;
	transition: all 0.4s;
	
}


#logo-nav #nav > a, #w3school-com{
	margin: 0;
	padding: 0px 20px;
    float: left;
	display: inline-block;
	font-weight: 550;
	font-size: 20px;
	cursor: pointer;
	position: relative;
	line-height: 78px;
	transition: all 0.6s;
}

#logo-nav #w3school-com {
	position: relative;
}

#logo-nav #w3school-com .list-hide {
	display: none;
	transition: ease 0.2s;
	font-size: 20px;
}

#logo-nav #w3school-com:hover .list-view {
    display: none;
}

#logo-nav #w3school-com:hover .list-hide {
    display: inline;
}  

 #logo-nav  a .nav { 
    font-family: 'courier new';
	font-size: 20px;
	color: #000;
	transition: all 0.6s;
} 



#logo-nav .w3school {
	font-family: w3school;
	letter-spacing: 3px;
	font-size: 20px;
	color: #000;
	transition: all 0.6s;
}

#logo-nav .w3com {
	color: #4caf50 !important;
}

#logo-nav #menu {
	cursor: pointer;
	display: none;
	position: absolute;
	right: 40px;
	top: 15px;
	font-size: 25px;
}



#logo-nav #w3school-com .dropdown-list {
	border: 1px solid rgba(25,35,100,0.8);
	margin: 0;
	padding: 0px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 250px;
	display: none;
	border-radius: 15px / 40px;
	background-color: rgba(25,35,100,0.5);
	overflow: hidden;
	transition: all 0.6s;
}

#logo-nav #w3school-com:hover .dropdown-list {
	display: inline-block;
	transition: all 0.6s;
} 

#logo-nav .dropdown-list a{
	border-bottom: 2px dotted rgba(25,35,100,0.6);
	padding: 10px 5px;
	margin: 0;
	float: left;
	width: 100%;
	border-radius: 15px / 50px;
	line-height: 35px !important;
	transition: all 0.6s;
	text-align: center;
	border-image: linear-gradient(to right, #5680e9, #84ceeb, #5ab9ea, #c1c8e4, #8860d0) 30;
	display: inline-block;
}

#logo-nav .dropdown-list a:hover  {
	color: #1a73e8 !important;
	background-color: rgba(25,35,100,0.9);
}


#logo-nav  a {
	color: #000;
	text-decoration: none;
	font-size: 20px;
	transition: all 0.6s;
}

#logo-nav  a .dot {
	position: absolute;
	color: red;
	top: 66%;
	left: 50%;
	font-weight: bold;
	display: inline-block;
	margin-left: -5px;
	line-height: 5px;
	border-radius: 50%;
	background-color: rgba(256,256,256,0.3);
    visibility: hidden; 
	transition: all 0.2s;
}

#logo-nav a:hover .dot {
	visibility: visible;
}

#logo-nav::after { 
    content: "";
	display: table;
	clear: both;
}

 #main {
	margin: 10px 0px 20px 0;
	display: block;
	height: 100%;
	clear: both;
}


#right-menu-open, #right-menu-close, #left-menu-open, #left-menu-close {
	font-size: 30px; 
	color: #000;
	position: fixed;
    top: 50%;
	cursor: pointer;
	padding: 10px;
	text-decoration: none;
	z-index: 1;
	display: none;
}

#main::after {
	content: "";
	display: table;
	clear: both;
}


#aside-left,#content,#aside-right,#footer {
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.7), 0 2px 10px 0 rgba(0,0,0,0.7);
}

#aside-left {
	float: left;
	width: 19%;
	height: 100%;
	border-top: 2px solid #5ab9ea;
	margin: 0.5%; 
	padding: 5px;
    position: sticky;
	top: 70px;
	overflow-x: hidden;
	overflow-y: scroll;
	display: block;
}

.active {
	color: #1a73e8;
	font-weight: 550;
}

.active:hover { 
    color: red;
}

#content {
	float: left;
	height: 100%;
	width: 64%;
	border-top: 2px solid #84ceeb;
	border-image: linear-gradient(to right, #5680e9, #84ceeb, #5ab9ea, #c1c8e4, #8860d0) 30;
	margin: 0.5%; 
	padding:  0px 10px;
}

#topic,#learning {
	 margin: 10px 0 30px 0;
	 width: auto;
	 height: auto;
	 background-color: #F1F1F1;
	 padding: 16px 16px 25px 16px;
	 box-shadow: 0 2px 5px 0 rgba(0,0,0,0.7), 0 2px 10px 0 rgba(0,0,0,0.7);
 }
 
 #topic {

 }
 
 h2 {
	
 }
 
 

 
#learning h2 {
	 text-align: center;
 }

#aside-right {
	float: right;
	height: 100%;
	width: 14%;
	border-top: 2px solid  #5ab9ea;
	margin: 0.5%; 
	padding: 5px;
    position: sticky; 
	top: 70px;
	/* overflow-x: hidden; */
	/* overflow-y: scroll; */
}

aside {
	padding-bottom: 50px !important;
}

aside ul {
	list-style-type: circle;
	margin: 10px 20px;
	padding: 0;
	/* list-style-position: inside;  */
}

aside ul li {
	padding: 10px 0px;
	border-bottom: 1px dotted red;
}



aside ul li:hover::before {
	content: "\2022";
	color: red;
	font-weight: 900;
	display: inline-block;
	position: relative;
	left: -21px;
	top: 1px;
	font-size: 18px;
	width: 0;
}

aside ul li:hover{
	list-style-type: none;
} 



aside a {
	text-decoration: none;
	display: block;
	color: #000;
	padding: 5px 0px;
	font-weight: 500;
}




#footer {
	
	text-align: center;
	font-weight: 550;
	border-top: 2px solid #84ceeb;
	border-image: linear-gradient(to right, #5680e9, #84ceeb, #5ab9ea, #c1c8e4, #8860d0) 30;

	height: auto;
	padding: 20px 30px;
	margin: 5px;
	font-size: 20px;
	clear: both;
}



#comment {
	background-color: #FFF;
	 width: 95%;
	 border-left: 4px solid #4CAF50;
	 padding: 10px 12px;
	 font-size: 16px;
	 font-family: consolas,"courier new";
	 word-wrap: break-word;
	 line-height: 1.5;
	 margin: 5px;
}

.comment {
	font-size: 20px;
	color: #0000ff;
	margin: 5px;
}





@media screen and (max-width: 992px) {

#dark-font-social {
	text-align: center;
}	
	
#aside-left {
	float: none;
	width: 50%;
    position: fixed !important;
	right: 0px;
	top: 130px;
	display: none;
	z-index: 1;
	background-color: #fff;
}

#content {
	width: 100%;
}

#aside-right {
    float: none;
	width: 25%;
    position: fixed !important;
	right: 0px;
	top: 140px;
	display: none;
	background-color: #fff;
}

#menu {
	display: inline-block !important;
	top: 15px;
}

#right-menu-open {
	display: inline-block;
}

.contacts, .sp-image {
	float: none;
}

#dark-font-social > div {
	text-align: center;
	display: block;
}

.slide {
	display: none;
}

.fade,#logo-nav #nav {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#dark-font-social .prev, #dark-font-social .next {
	display: inline-block;
}

#logo-nav {
	z-index: 3;
	background-color: #fff;
}

#logo-nav #nav {
	float: none;
	display: none;
	position: absolute;
	top: 100%;
	left: 0px;
	background-color: #c1c8e4;
	width: 100%;
	height: 60px;
	margin: 0;
	border-top: 1px solid #000;
	opacity: 0.9;
}



#logo-nav #w3school-com .dropdown-list{
	top: 89%;
	position: absolute;
}

}

@media screen and (max-width: 600px) {

#dark-font-social #menu-dfs {
	display: inline-block;
}

#logo-nav #nav {
	text-align: center;
	height: auto;
}

#logo-nav #nav > a, #w3school-com {
	display: block;
	float: none;
	border: 1px solid;
	text-align: center;
	position: relative;
	line-height: 60px !important;
	border-bottom: 1px solid red;
	border-image: linear-gradient(to right, #5680e9, #84ceeb, #5ab9ea, #c1c8e4, #8860d0) 30;
}



#logo-nav #menu {
	top: -57px;
	right: 20px;
	transition: 0s;
}

#logo-nav #w3school-com .dropdown-list {
	width: 100% ;
	position: relative;
}

#logo-nav #w3school-com:hover .dot {
	top: 18% !important;
}

#dark-font-social {
	overflow: hidden;
}

#dark-font-social .prev, #dark-font-social .next {
	display: none;
}

#left-menu-open {
	display: inline-block;
}

#aside-left, #aside-right {
	width: 75%;
	z-index: 1;
}

#learning div {
   overflow-x: scroll;
   overflow-y: scroll;
}


}